<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MMWeRead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>MMWitget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ED1CCCAA1E8C8A7E00401668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED61B3561DA4CF52000C92E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED61B36F1DA4CF52000C92E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ED61B37A1DA4CF52000C92E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
